
.no-border {
    border: none !important;
}

.no-border-bottom {
    border-bottom: none !important;
}
.bi-shield-shaded,
.bi-envelope,
.bi-chat-dots,
.bi-people,
.bi-question-circle,
.bi-telephone {
    color: #176195; 
    font-size:35px;
}




